/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import "node_modules/react-modal-video/scss/modal-video.scss";
@import "slick-carousel/slick/slick.css";
@import "~bootstrap/scss/bootstrap";
@import "/public/assets/scss/main.scss";

.image-container {
    height: 100%;
  }
  
  .image-container img {
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
  }

  .sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  
  .profile-section {
    margin-bottom: 20px;
  }
  
  .main-content {
    padding: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  .header-custom {
    background-color: #245d51 !important;
    color: white !important;
  }
  
  .header-custom .navbar-brand {
    color: white !important;
  }

  body {
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    border-right: 2px solid #ff6652;
  }
  
  .text-danger {
    color: #ff6652 !important;
  }
  
  
//   #bgimage {
//     background-color: #f8f9fa;
//   }
  
//   .bgchange {
//     background-color: #007bff;
//   }
  
//   .bg-light {
//     background-color: #f8f9fa;
//   }
  
//   .text-black {
//     color: #000;
//   }
  
//   .text-danger {
//     color: #dc3545;
//   }
  
//   .form-label {
//     font-weight: bold;
//   }
  
//   .form-control,
//   .form-select {
//     border-radius: 0.25rem;
//     border: 1px solid #ced4da;
//   }
  
//   button {
//     cursor: pointer;
//   }
  
//   button:focus {
//     outline: none;
//   }

